<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="listes.css" />
    <title>Listes</title>
    <h1> Bienvenue sur la liste deroulante des pays</h1>
  </head>
<body>
    <div class="country-list">
        <a href="#" class="active">Confirmed cases of Coronavirus</a>
        <a href="#">US 123456</a>
        <a href="#">Spain 1234323</a>
        <a href="#">Italy 12321</a>
        <a href="#">France 42378</a>
        <a href="#">Germany 89378</a>
        <a href="#">UK 19578</a>
        <a href="#">China 79278</a>
        <a href="#">Iran 68378</a>
        <a href="#">Turkey 48478</a>
      </div>
    <div class="result-box">
        <a href="#" class="active">Total Confirmed</a>
        <a href="#">2 422 525</a>
    </div>
    <div class="result-box2">
      <a href="#" class="active">Total Death</a>
      <a href="#">171 718</a>
  </div>
  <div class="result-box3">
    <a href="#" class="active">Total Recovered</a>
    <a href="#">659 889</a>
</div>
    <div class="death-list">
      <a href="#" class="active">Confirmed death</a>
      <a href="#">US 123456</a>
      <a href="#">Spain 1234323</a>
      <a href="#">Italy 12321</a>
      <a href="#">France 42378</a>
      <a href="#">Germany 89378</a>
      <a href="#">UK 19578</a>
      <a href="#">China 79278</a>
      <a href="#">Iran 68378</a>
      <a href="#">Turkey 48478</a>
    </div>
    <div class="recovered-list">
      <a href="#" class="active">Confirmed Recover</a>
      <a href="#">US 123456</a>
      <a href="#">Spain 1234323</a>
      <a href="#">Italy 12321</a>
      <a href="#">France 42378</a>
      <a href="#">Germany 89378</a>
      <a href="#">UK 19578</a>
      <a href="#">China 79278</a>
      <a href="#">Iran 68378</a>
      <a href="#">Turkey 48478</a>
    </div>
</body>