<!DOCTYPE html>
<html>
<title>Tabs</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
  <h2>Tabs in a Grid</h2>

  <div class="w3-row">
    <a href="javascript:void(0)" onclick="openCity(event, 'Infected');">
      <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Infected</div>
    </a>
    <a href="javascript:void(0)" onclick="openCity(event, 'Death');">
      <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Death</div>
    </a>
    <a href="javascript:void(0)" onclick="openCity(event, 'Recovered');">
      <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Recovered</div>
    </a>
  </div>

  <div id="Infected" class="w3-container city" style="display:none">
    <h2>Infected</h2>
    <p>Numer and list of poeple infected</p>
  </div>

  <div id="Death" class="w3-container city" style="display:none">
    <h2>Death</h2>
    <p>Numer and list of poeple dead.</p> 
  </div>

  <div id="Recovered" class="w3-container city" style="display:none">
    <h2>Recovered</h2>
    <p>Numer and list of poeple recovered.</p>
  </div>
</div>

<script>
function openCity(evt, cityName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-border-red", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.firstElementChild.className += " w3-border-red";
}
</script>

</body>
</html>
